<a href="https://colab.research.google.com/github/NguyenTanTan/Bai-tap-python/blob/python/B7_PANDAS_2_DATAFRAME.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Câu 1:** Tạo các Series với kích thước 1x10 thỏa mãn yêu cầu:

- Series 1: có tên là “Họ và tên” và dữ liệu (định tính) do bạn tự nhập vào

In [6]:
import pandas as pd   
import random

In [15]:
# Tạo series họ và tên:
print("Nhập tên 10 người:")
name=pd.Series(input() for i in range(10))

Nhập tên 10 người:
Nguyễn Văn A
Nguyễn Văn B
Nguyễn Văn
Nguyễn Văn D
Nguyễn Văn E
Nguyễn Văn F
Nguyễn Văn G
Nguyễn Văn H
Nguyễn Văn I
Nguyễn Văn J

- Series 2: có tên là “Ngày sinh” & dữ liệu do bạn tự nhập vào

In [21]:
# Tạo series  ngày sinh tương ứng:
print("Nhập ngày sinh tương ứng:")
b_day=pd.Series(input() for i in range(10))

Nhập ngày sinh tương ứng:
30/1/2003
30/2/2003
30/3/2003
30/4/2003
30/5/2003
30/6/2003
30/7/2003
30/8/2003
30/9/2003
30/10/2003

- Series 3: có tên là “Tiền công/h” có dữ liệu định lượng do bạn tự nhập

In [27]:
# Tạo series tiền công trong giờ:
h_wage=pd.Series(random.randint(3,5)*10 for i in range(10))

- Series 4: có tên là “Số h công” có dữ liệu định lượng do bạn tự nhập

In [28]:
# Tạo series số giờ làm:
w_hour=pd.Series(random.randint(0,10) for i in range(10))

- Series 5: có tên là “Thực lĩnh” có kích thước 1x10 và để trống

In [29]:
# Tạo series rỗng chuẩn bị để tính 
salary=pd.Series()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

- Tạo 1 dataframe bằng cách ghép các series trên lại với nhau

In [33]:
# Tạo một dictionnary chứa các series:
data={"Họ và tên": name,"Ngày sinh": b_day,"Tiền công/h":h_wage,"Số giờ công(h)": w_hour,"Thực lĩnh":salary}
df=pd.DataFrame(data)

- Hãy tính giá trị cho cột (column) “Thực lĩnh” theo công thức:
Thực lĩnh = “Số h công” x “Tiền công/h”

In [31]:
# Tính giá trị cho cột thực lĩnh
salary=h_wage*w_hour

- Hãy in toàn bộ dataframe ở trên ra màn hình

In [34]:
# In toàn bộ datafarme ra màn hình
print(df)

      Họ và tên   Ngày sinh  Tiền công/h  Số giờ công(h)  Thực lĩnh
0  Nguyễn Văn A   30/1/2003           50               2        100
1  Nguyễn Văn B   30/2/2003           40               7        280
2    Nguyễn Văn   30/3/2003           40               9        360
3  Nguyễn Văn D   30/4/2003           30               1         30
4  Nguyễn Văn E   30/5/2003           30               3         90
5  Nguyễn Văn F   30/6/2003           50               4        200
6  Nguyễn Văn G   30/7/2003           40               8        320
7  Nguyễn Văn H   30/8/2003           30               7        210
8  Nguyễn Văn I   30/9/2003           40               0          0
9  Nguyễn Văn J  30/10/2003           50               7        350

**Câu 2:** Khởi tạo dataframe bằng các phương pháp khác nhau, hãy:

- Tạo dataframe có kích thước 10x3 từ cấu trúc list tương ứng, với dữ liệu cho dataframe
này gồm các cột Họ tên, Tuổi và Giới tính. Xuất kết quả ra màn hình;

In [40]:
# Tạo danh sách họ tên:
ho_ten=["Văn A", "Văn B","Văn C","Văn D","Văn E", "Thị F","Thị G","Thị H","Thị I","Thị J"]
# Tạo danh sách tuổi:
tuoi_=[random.randint(14,20) for i in range(10)]
# Tạo danh sách giới tính:
g_tinh=["Nam","Nam","Nam","Nam","Nam","Nữ","Nữ","Nữ","Nữ","Nữ"]

In [45]:
# Kết hợp 3 list trên lại:
data=[ho_ten,tuoi,g_tinh]
df=pd.DataFrame(data,index=["Họ và tên","Tuổi","Giới tính"])
print(df)

               0      1      2      3      4      5      6      7      8  \
Họ và tên  Văn A  Văn B  Văn C  Văn D  Văn E  Thị F  Thị G  Thị H  Thị I
Tuổi          14     14     15     16     17     18     19     20     21
Giới tính    Nam    Nam    Nam    Nam    Nam     Nữ     Nữ     Nữ     Nữ

               9
Họ và tên  Thị J
Tuổi          18
Giới tính     Nữ

- Tạo dataframe như trên nhưng từ cấu trúc Dictionary có chứa các List giá trị tương ứng
với key. Xuất kết quả ra màn hình;

In [48]:
# Tạo lại dictionary từ các list đã chuẩn bị trên:
dic={"Họ và tên": ho_ten,"Tuổi":tuoi,"Giới tính":g_tinh}
# Tạo dataframe:
df=pd.DataFrame(dic)
print(df)

  Họ và tên  Tuổi Giới tính
0     Văn A    14       Nam
1     Văn B    14       Nam
2     Văn C    15       Nam
3     Văn D    16       Nam
4     Văn E    17       Nam
5     Thị F    18        Nữ
6     Thị G    19        Nữ
7     Thị H    20        Nữ
8     Thị I    21        Nữ
9     Thị J    18        Nữ



- Tạo dataframe như trên nhưng từ cấu trúc List của các dictionary. Xuất kết quả ra màn
hình;

In [50]:
# Tạo list chứa các dictionary:
lis=[{"Họ và tên":ho_ten},{"Tuoi":tuoi},{"Giới tính":g_tinh}]
# Tạo dataframe:
df=pd.DataFrame(lis)
print(df)

                                           Họ và tên  \
0  [Văn A, Văn B, Văn C, Văn D, Văn E, Thị F, Thị...
1                                                NaN
2                                                NaN

                                       Tuoi  \
0                                       NaN
1  [14, 14, 15, 16, 17, 18, 19, 20, 21, 18]
2                                       NaN

                                       Giới tính
0                                            NaN
1                                            NaN
2  [Nam, Nam, Nam, Nam, Nam, Nữ, Nữ, Nữ, Nữ, Nữ]

- Tạo 3 list (1x10) tương ứng với Họ tên, Tuổi và Giới tính. Sử dụng hàm zip() để tạo
dataframe từ 3 list riêng biệt này. Xuất kết quả ra màn hình.

In [ ]:
# Tạo list với các phần tử là các list chứa dữ liệu về họ tên, tuổi, giới tính
print("Nhập dữ liệu cho list họ tên: ")
hoten=[input() for i in range(10)]

In [ ]:
print("Nhập dữ liệu cho cột tuổi: ")
tuoi=[int(input()) for i in range(10)]

In [ ]:
print("Nhập dữ liệu cho cột giới tính: ")
gtinh=[input() for i in range(10)]

In [36]:
data=zip(hoten,tuoi,gtinh) # Dùng hàm zip() để hợp nhất 3 list họ tên, tuổi và giới tính
df=pd.DataFrame(data, columns=["Họ và tên","Tuổi","Giới Tính"])
print(df)

  Họ và tên  Tuổi Giới Tính
0  Nguyễn A    14       Nam
1  Nguyễn B    14       Nam
2  Nguyễn C    15       Nam
3  Nguyễn D    16       Nam
4  Nguyễn E    17        Nữ
5  Nguyễn F    18        Nữ
6  Nguyễn G    19        Nữ
7  Nguyễn H    20       Nam
8  Nguyễn I    21        Nữ
9  Nguyễn J    18       Nam