<a href="https://colab.research.google.com/github/NguyenTanTan/Bai-tap-python/blob/python/Bai_tap_phan_tich_anova_1_chieu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hãy sử dụng các tập dữ liệu sau và tiến hành phân tích ANOVA 1 chiều

- [Excavation Depth and Archaeology](https://college.cengage.com/mathematics/brase/understandable_statistics/7e/students/datasets/owan/frames/owan01.html)
- [Apple Orchard Experiment](https://college.cengage.com/mathematics/brase/understandable_statistics/7e/students/datasets/owan/frames/owan02.html)
- [Red Dye Number 40](https://college.cengage.com/mathematics/brase/understandable_statistics/7e/students/datasets/owan/frames/owan03.html)
- [Business Startup Costs](https://college.cengage.com/mathematics/brase/understandable_statistics/7e/students/datasets/owan/frames/owan04.html)
- [Weights of Football Players](https://college.cengage.com/mathematics/brase/understandable_statistics/7e/students/datasets/owan/frames/owan05.html)

***Phân tích ANOVA 1 chiều với tập dữ liệu Excavation Depth and Archaeology***

*Đây là dữ liệu về độ sâu của các địa điểm khảo cổ ở New Mexico*

In [ ]:
# Kết nối colab
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
import scipy.stats as st

In [ ]:
# Đọc bảng dữ liệu
df1=pd.read_csv('/content/drive/MyDrive/Dữ liệu/Practical Statistics datasets/Excavation Depth and Archaeology.csv')

In [ ]:
df1.head()

    X1    X2     X3    X4
0   93  85.0  100.0  96.0
1  120  45.0   75.0  58.0
2   65  80.0   65.0  95.0
3  105  28.0   40.0  90.0
4  115  75.0   73.0  65.0

*Lọc dữ liệu*

In [88]:
site1=df1['X1'].dropna()
site2=df1['X2'].dropna()
site3=df1['X3'].dropna()
site4=df1['X4'].dropna()

In [89]:
print(site2)

0    85.0
1    45.0
2    80.0
3    28.0
4    75.0
5    70.0
6    65.0
7    55.0
8    50.0
9    40.0
Name: X2, dtype: float64

*Kiểm tra giả định của dữ liệu*

Với mức ý nghĩa 0.05 kiểm tra xem các dữ liệu có cùng phương sai hay không:

*Giả thuyết*
 * $H_0$: Các mẫu có cùng phương sai:

  $σ_1^2=σ_2^2=σ_3^2=σ_4^2$
 * $H_a$: Tồn tại một cặp khác phương sai

In [106]:
a=0.05
_,p=st.levene(site1,site2,site3,site4)
print('P value: ', p)

P value:  0.5020818274234007

In [107]:
if p >a:
  print("Có cơ sở chứng minh các mẫu có cùng phương sai")
else:
  print("Không có cơ sở chứng minh các mẫu có cùng phương sai")

Có cơ sở chứng minh các mẫu có cùng phương sai

Với mức ý nghĩa 0.05 kiểm tra tính phân phối chuẩn của các mẫu
 
 *Giả thuyết*
  * $H_0$: Các mẫu tuân theo phân phối chuẩn
  * $H_a$: Các mẫu không tuân theo phân phỗi chuẩn

In [93]:
_,p=st.shapiro(site1)
print("p-value:",p)

p-value: 0.9960364103317261

In [94]:
if p> a:
  print('Mẫu có thể tuân theo phân phối chuẩn')
else:
  print('Mẫu có thể không tuân theo phân phối chuẩn')

Mẫu có thể tuân theo phân phối chuẩn

In [95]:
_,p=st.shapiro(site2)
print("p-value:",p)

p-value: 0.864689826965332

In [96]:
if p> a:
  print('Mẫu có thể tuân theo phân phối chuẩn')
else:
  print('Mẫu có thể không tuân theo phân phối chuẩn')

Mẫu có thể tuân theo phân phối chuẩn

In [97]:
_,p=st.shapiro(site3)
print("p-value:",p)

p-value: 0.601704478263855

In [98]:
if p> a:
  print('Mẫu có thể tuân theo phân phối chuẩn')
else:
  print('Mẫu có thể không tuân theo phân phối chuẩn')

Mẫu có thể tuân theo phân phối chuẩn

In [99]:
_,p=st.shapiro(site4)
print("p-value:",p)

p-value: 0.13579683005809784

In [100]:
if p> a:
  print('Mẫu có thể tuân theo phân phối chuẩn')
else:
  print('Mẫu có thể không tuân theo phân phối chuẩn')

Mẫu có thể tuân theo phân phối chuẩn

***Các giả định đã được kiểm tra và đủ điều kiện để tiến hành kiểm định ANOVA một chiều***

Với mức ý nghĩa 0.05 kiểm định độ sâu trung bình các địa điểm khảo cổ có bằng nhau hay không
* Giả thuyết 
 * $H_0$: các địa điểm khảo cổ có độ sâu trung bình bằng nhau

     $\bar x_1=\bar x_2=\bar x_3=\bar x_4$
 * $H_a$: Có sự khác nhau về độ sâu trung bình của các điểm khảo cổ

In [101]:
b=0.05
_,p=st.f_oneway(site1,site2,site3,site4,)
print("p value: ",p)

p value:  7.99057539367343e-07

In [102]:
if p> b:
  print('Có thể khằng định độ sâu trung bình các địa điểm khảo cổ  bằng nhau')
else:
  print('Không thể khằng định độ sâu trung bình các địa điểm khảo cổ bằng nhau')

Không thể khằng định độ sâu trung bình các địa điểm khảo cổ bằng nhau