<a href="https://colab.research.google.com/github/NguyenTanTan/Bai-tap-python/blob/python/Quy_tr%C3%ACnh_ki%E1%BB%83m_%C4%91%E1%BB%8Bnh_ANOVA_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Lý thuyết**

**ANOVA ONE-WAY:**
 * Được sử dụng để xác định có hay không có sự khác biệt ý nghĩa thống kê giữa các giá trị trung bình của ba hoặc nhiều nhóm tổng thể nghiên cứu độc lập.

**Quy trình**
 * B1: Phát biểu bài toán
 * B2: Xây dựng giả thuyết không và giả thuyết nghịch
 * B3: Thu thập mẫu để kiểm định
 * B4: Kiểm tra mẫu: 
   * Mẫu độc lập với nhau
   * Mẫu có phương sai giống nhau (f-test)
   * Mẫu lấy theo phân phôi chuẩn (shapiro)
 * B5: Thực hiện ANOVA một chiều: ***scipy.stats.f_oneway()***
 * B6: Diễn giải kết quả

**Bài toán:**

Một cuộc khảo sát được thực hiện trên ba nhóm học sinh lớp 12 từ ba trường khác nhau, giả sử số lượng học sinh lớp 12 của ba trường này bằng nhau.Với mức ý nghĩa 5%, kiểm tra rằng liệu có sự khác biệt nào giữa điểm tổng kết học tập của học sinh ba trường nay hay không, dữ liệu được lấy là điểm tổng kết của 40 học sinh từ ba trường.

**Giả thuyết:**

$H_0$: Không có sự khác biệt nào giữa điểm tổng kết học tập của học sinh ba trường này
 
   $σ_1^2=σ_2^2=σ_3^3$
 
$H_a:$ Có tồn tại sự khác nhau giữa điểm tổng kết của ít nhất một trường với các trường còn lại

In [1]:
import numpy as np
import scipy.stats as st

In [49]:
a=0.05
np.random.seed(123)
# Tạo mẫu điểm trung bình của 40 học sinh của 3 trường
QH=np.random.randint(8,10,40)  # Trường Quốc Học
HBT=np.random.randint(7,9,40) # Trường Hai Bà Trưng
NH=np.random.randint(7,9,40) # Trường Nguyễn Huệ

In [50]:
_,p=st.f_oneway(QH,NH,HBT)
print('P value: ',p)

P value:  5.815851621576419e-16

In [51]:
if p> a:
  print('Không có bằng chứng thống kê để bác bỏ giả thuyết không')
else:
  print('Có bằng chứng thống kê để bác bỏ giả thuyết không')

Có bằng chứng thống kê để bác bỏ giả thuyết không

***************

**ANOVA TWO-WAY:**
 * Được sử dụng để xác định có hay không
có sự khác biệt ý nghĩa thống kê giữa các giá trị trung bình của ba hoặc nhiều nhómđộc lập, được chia theo nhóm dựa trên hai yếu tố.

**Quy trình**
 * B1: Phát biểu bài toán
 * B2: Xây dựng giả thuyết không và giả thuyết nghịch
 * B3: Thu thập mẫu để kiểm định
 * B4: Kiểm tra mẫu: 
   * Mẫu độc lập với nhau
   * Mẫu có phương sai giống nhau (f-test)
   * Mẫu lấy theo phân phôi chuẩn (shapiro)
 * B5: Định dạng dữ liệu:
  ***statsmodels.formula.api_ols()***
 * B6: Kiểm định ANOVA hai chiều
  ***statsmodels.api.stats.anova_lm()***
 * B7: Diễn giải kết quả

**Factor**
 * là yếu tố tác động đến dữ liệu của mẫu. Ta sẽ tiến hành kiểm định ANOVA theo những yếu tố này, để xem thử chúng tác động như thế nào đến dữ liệu mẫu.

***Định dạng dữ liệu*** 
 * Đây là bước ta thiết lặp sự liên qua giữa các yếu tố và dữ liệu phục vụ cho mục đích kiểm định.
 * Ví dụ:  Với ví dụ trên : tiến hành chia dữ liệu theo nhóm(mùa, buổi):

***ANOVA TWO-WAY***

***Ví dụ:***
  * Kiểm tra với  tập dữ liệu như sau: Người ta đo mực nước biển tại một vùng biển theo 2 mùa(mưa, nắng) và theo 2 buổi (sáng , chiều). Kiểm tra xem có sự khác biệt nào khi đo trong các điều kiện khác nhau hay không.(ANOVA hai chiều)

*CODE VÍ DỤ*

In [ ]:
# Tạo dữ liệu với 10 lần đo
import numpy as np
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
time=("Sáng","Sáng","Sáng","Sáng","Chiều","Chiều","Chiều","Chiều","Chiều","Chiều")
season=['Mưa','Nắng','Nắng','Mưa','Mưa','Mưa','Nắng','Nắng','Mưa','Mưa']
np.random.seed(0)
height=[3.5,3.0,3.2,4.0,3.8,5.0,4.5,3.3,4.2,4.6]

In [ ]:
df= pd.DataFrame({'Time':time,'Season':season,'Height':height})
df

    Time Season  Height
0   Sáng    Mưa     3.5
1   Sáng   Nắng     3.0
2   Sáng   Nắng     3.2
3   Sáng    Mưa     4.0
4  Chiều    Mưa     3.8
5  Chiều    Mưa     5.0
6  Chiều   Nắng     4.5
7  Chiều   Nắng     3.3
8  Chiều    Mưa     4.2
9  Chiều    Mưa     4.6

**Định dạng dữ liệu**

In [ ]:
model=ols('Height~ Time+Season',data=df).fit()

**Kiểm định ANOVA hai chiều**

In [ ]:
sm.stats.anova_lm(model)

           df    sum_sq   mean_sq         F    PR(>F)
Time      1.0  1.568167  1.568167  6.542373  0.037672
Season    1.0  0.742976  0.742976  3.099688  0.121697
Residual  7.0  1.677857  0.239694       NaN       NaN